{
  "openapi": "3.0.3",
  "info": {
    "title": "Marketstack API",
    "description": "API pour récupérer les données boursières (actions, historiques, symboles).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.marketstack.com/v1",
      "description": "API Marketstack"
    }
  ],
  "paths": {
    "/symbols": {
      "get": {
        "summary": "Liste des symboles boursiers",
        "description": "Récupère la liste des symboles disponibles sur le marché.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Clé API Marketstack"
          },
          {
            "name": "exchange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filtrer par marché, ex: 'XPAR' pour Euronext Paris"
          }
        ],
        "responses": {
          "200": {
            "description": "Liste des symboles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": { "type": "string" },
                          "name": { "type": "string" },
                          "currency": { "type": "string" },
                          "stock_exchange": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/eod": {
      "get": {
        "summary": "Données historiques",
        "description": "Récupère les données de clôture, ouverture, haute et basse pour un symbole.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Clé API Marketstack"
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Symbole boursier, ex: 'AAPL'"
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date de début (YYYY-MM-DD)"
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Date de fin (YYYY-MM-DD)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Nombre de résultats"
          }
        ],
        "responses": {
          "200": {
            "description": "Données historiques",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "open": { "type": "number" },
                          "high": { "type": "number" },
                          "low": { "type": "number" },
                          "close": { "type": "number" },
                          "volume": { "type": "number" },
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
